// Colors
$primary: rgb(0, 13, 130);
$background: rgba(32, 32, 32, 1);
$blueDot: rgba(22, 44, 242, 1);
$whiteDot: rgba(218, 218, 218, 1);

// Responsive variables(correspond with Tailwind breakpoints)
$sm: '(min-width: 640px)';
$md: '(min-width: 768px)';
$lg: '(min-width: 1024px)';
$xl: '(min-width: 1280px)';
$xxl: '(min-width: 1536px)';
